# Codebook  
**Authors:** Patrick Guo  
Documenting existing data files of DaanMatch with information about location, owner, "version", source etc.

In [1]:
import boto3
import numpy as np 
import pandas as pd
import datetime as dt
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import seaborn as sns
from collections import Counter
import statistics
import re
from langdetect import detect

In [2]:
client = boto3.client('s3')
resource = boto3.resource('s3')
my_bucket = resource.Bucket('my-bucket')

# 42621 Final_Data_ngodarpan.gov.in

## TOC:
* [About this dataset](#1)
* [What's in this dataset](#2)
* [Codebook](#3)
    * [Missing values](#3.1)
    * [Summary statistics](#3.2)
* [Columns](#4)
    * [Name](4.1)
    * [ngo url](4.2)
    * [Mobile](4.3)
    * [UniqueID](4.4)
    * [Off phone1](4.5)
    * [Email](4.6)
    * [Major Activities1](4.7)
    * [operational states db](4.8)
    * [issues working db](4.9)
    * [operational district db](4.10)
    * [reg name](4.11)
    * [fcrano](4.12)
    * [nr regNo](4.13)
    * [nr add](4.14)
    * [nr orgName](4.15)
    * [ngo reg date](4.16)
    * [nr actName](4.17)
    * [nr city](4.18)
    * [TypeDescription](4.19)
    * [StateName](4.20)
    * [status](4.21)
    * [president name](4.22)
    * [president email](4.23)
    * [president mobile](4.24)
    * [Chairman name](4.25)
    * [Chairman email](4.26)
    * [Chairman mobile](4.27)
    * [Secretary name](4.28)
    * [Secretary email](4.29)
    * [Secretary mobile](4.30)
    * [Asisstant Secretary name](4.31)
    * [Asisstant Secretary email](4.32)
    * [Asisstant Secretary mobile](4.33)
    * [Board Member name](4.34)
    * [Board Member email](4.35)
    * [Board Member mobile](4.36)
    * [Vice Chairman name](4.37)
    * [Vice Chairman email](4.38)
    * [Vice Chairman mobile](4.39)
    * [Member name](4.40)
    * [Member email](4.41)
    * [Member mobile](4.42)

In [3]:
# Lists out the column names in TOC format
def toc_maker(dataset):
    counter = 1
    for column in dataset.columns:
        print("* ["+column+"](4."+str(counter)+")")
        counter +=1

In [4]:
#toc_maker(Final_Data_ngodarpan)

**About this dataset**  <a class="anchor" id="1"></a>  
Data provided by: NGO Darpan  
Source: ngodarpan.gov.in   
Type: xlsx  
Last Modified: June 1, 2021, 17:06:30 (UTC-07:00)  
Size: 49.7 MB

In [ ]:
path = "s3://daanmatchdatafiles/Darpan21FCRA/42621 Final_Data_ngodarpan.gov.in.xlsx"
xl = pd.ExcelFile(path)
print(xl.sheet_names)
Final_Data_ngodarpan = xl.parse('ngodarpan.gov.in')
Final_Data_ngodarpan.head()

['ngodarpan.gov.in']

**What's in this dataset?**  <a class="anchor" id="2"></a>

In [ ]:
dataset = Final_Data_ngodarpan
print("Shape:", dataset.shape)
print("Rows:", dataset.shape[0])
print("Columns:", dataset.shape[1])
print("Each row is a NGO.")

**Codebook** <a class="anchor" id="3"></a>

In [ ]:
dataset_columns = [column for column in dataset.columns]
dataset_desc = ["Name of NGO",
               "URL for NGO",
               "Mobile phone",
               "Unique ID of VO/NGO",
               "Telephone/Alternate number",
               "Email address",
               "Description of major activities",
               "List of states or union territories they operate in.",
               "List of issues they are working on",
               "List of districts they operate in",
               "Name of registrar",
               "FCRA number",
               "Registration number",
               "Address",
               "Name of NGO",
               "Registration date",
               "Name of Act",
               "City of NGO",
               ]
dataset_desc = dataset_desc + ["N/A"] * (len(dataset_columns) - len(dataset_desc))
dataset_dtypes = [dtype for dtype in dataset.dtypes]

data = {"Column Name": dataset_columns, "Description": dataset_desc, "Type": dataset_dtypes}
codebook = pd.DataFrame(data)
codebook

**Missing values** <a class="anchor" id="3.1"></a>

In [ ]:
Final_Data_ngodarpan.isnull().sum()

**Summary statistics** <a class="anchor" id="3.2"></a>

None. All qualitative features.

## Columns
<a class="anchor" id="4"></a>

### Name
<a class="anchor" id="4.1"></a>
Name of NGO.  
No. of unique values: 109682  
No. of duplicates: 1548

In [ ]:
column = dataset["Name"]
column

In [ ]:
# Number of empty strings/missing values
print("Invalid:", sum(column == " ") + sum(column.isnull()))
print("No. of unique values:", len(column.unique()))
# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of duplicates:", len(duplicates))
table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

In [ ]:
# Example
dataset[column == table.iloc[0,0]].head()

Same ```name``` does not mean duplicate rows.

### ngo url
<a class="anchor" id="4.2"></a>
URL for NGO.  
No. of unique values: 24253  
No. of duplicates values: 202   
A lot of NGOs were confused in the information filling process, and pasted the NGO darpan URL instead of the URL to their NGO's website if there is one: the first 13. So there are a large number of invalid URLs.  
Additionally, a large number of urls cannot be reached.

In [ ]:
column = dataset["ngo url"]
column

In [ ]:
# Number of empty strings/missing values
print("Invalid:", sum(column == " ") + sum(column.isnull()))

print("No. of unique values:", len(column.unique()))

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate URLs", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

A lot of NGOs were confused in the information filling process, and pasted the NGO darpan URL instead of the URL to their NGO's website if there is one: the first 13. So there are a large number of invalid URLs. Additionally, a large number of urls cannot be reached.

In [ ]:
table.iloc[13:]

In [ ]:
# Example
dataset[column == table.iloc[13,0]].head()

Duplicates for ```ngo url``` do not mean duplicate rows.

### Mobile
<a class="anchor" id="4.3"></a>
Mobile number. 
Incorrect dtype.  
Varying lengths for mobile: 9, 10, 11
No. of null values: 32  
No. of unique values: 111431  
No. of duplicate values: 402.

In [ ]:
column = dataset["Mobile"]
column

In [ ]:
# Number of missing values
print("Nulls:", sum(column.isnull()))

print("No. of unique values:", len(column.unique()))

# Drop nulls and remove float and convert to str.
column = column.dropna().astype(int).astype(str)

# Lenght of mobile number
print("Lengths:", column.apply(len).unique())

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Mobile numbers", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

In [ ]:
# Example
dataset[dataset["Mobile"] == int(table.iloc[0,0])].head()

Duplicate ```Mobile``` does not mean duplicate rows.

### UniqueID
<a class="anchor" id="4.4"></a>
Unique ID of VO/NGO.  
No. of unique values: 111929

In [ ]:
column = dataset["UniqueID"]
column

In [ ]:
# Number of missing values
print("Nulls:", sum(column.isnull()))

print("No. of unique values:", len(column.unique()))

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

### Off phone1
<a class="anchor" id="4.5"></a>
Telephone/Alternate number.  
Contains invalid numbers: All zeros. Invalid formats: mysql_prep(#Mobile) Numbers of varying length.
Nulls: 95402  
No. of unique values: 15364  
No. of duplicates: 641.

In [ ]:
column = dataset["Off phone1"]
column

In [ ]:
# Number of missing values
print("Nulls:", sum(column.isnull()))

print("No. of unique values:", len(column.unique()))

# Drop nulls and remove hyphen and mysql_prep()
column = column.dropna()
cleaned_column = [re.sub('[^0-9]','', row) for row in column]
column = pd.Series(cleaned_column)



# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
del duplicates["0000000000000"]
del duplicates["00000000000"]
del duplicates["0000000000"]
del duplicates["000000000"]
del duplicates["00000000"]
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Off phone1 numbers", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)

# Lenght of numbers
print("Lengths:", table["Duplicate Off phone1 numbers"].apply(len).unique())

table

Column contains numbers of varying length.

In [ ]:
# Example
dataset[dataset["Off phone1"].str.replace("-", "") == table.iloc[3,0]].head()

Duplicate ```Off phone1``` does not mean duplicate rows.

### Email
<a class="anchor" id="4.6"></a>
Email address.    
No. of unique values: 111557  
No. of Duplicates: 340

In [ ]:
column = dataset["Email"]
column

In [ ]:
# Number of missing values
print("Nulls:", sum(column.isnull()))

print("No. of unique values:", len(column.unique()))

# Lower case all emails
column = column.str.lower()

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Email IDs", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

In [ ]:
# Example
dataset[dataset["Email"] == table.iloc[0,0]].head()

In [ ]:
domain = [split[1] for split in column.str.split("@",1)]
domain = pd.Series(domain).value_counts()
domain_no = len(domain)
print("No. of domains:", domain_no)
domain.head()

Duplicate ```Email``` does not mean duplicate rows.

### Major Activities1
<a class="anchor" id="4.7"></a>
Description of major activities.  
Not all in english.  
Nulls: 27311  
No. of descriptions with special characters: 1475   
No. of unique values: 75696  
No. of Duplicates: 1680

In [ ]:
column = dataset["Major Activities1"]
column

In [ ]:
# Number of missing values
print("Nulls:", sum(column.isnull()))
column = column.dropna()

# Lowercase all strings
column = column.str.lower()

def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True
    
language = [isEnglish(row) for row in column]
print("No. of descriptions with special characters:", len(language) - sum(language))
column = column[language]

print("No. of unique values:", len(column.unique()))

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Major Activities", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

There still remains descriptions that have special characters in other languages besides English.

### operational states db
<a class="anchor" id="4.8"></a>
List of states or union territories they operate in.  
Rows contain multiple states and some rows contain duplicate states.  
No. of unique values: 38

In [ ]:
column = dataset["operational states db"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

# Empty strings
print("Empty strings:", sum(column == ""))

# Lowercase all strings
column = column.str.lower()

Rows contain multiple states, and some rows contain duplicate states.

In [ ]:
column.value_counts().tail(3)

In [ ]:
# Strip leading and tailing whitespace and create set to remove duplicates in list
split_column = [list(set([i.strip() for i in row])) for row in column.str.split(',')]    

# Drop([0]) to remove empty string
cleaned_column = pd.Series(split_column).explode().value_counts().rename_axis('Value').reset_index(name='Counts').drop([0])
cleaned_column

In [ ]:
cleaned_column.plot.bar(x="Value", y="Counts", figsize=(16,4))
ax = plt.title("Count of Operational States")
plt.xlabel("Operational States")
plt.show()

### issues working db
<a class="anchor" id="4.9"></a>
List of issues they are working on.  
Some rows contain multiple issues.  
Nulls: 22637  
Unique values: 44

In [ ]:
column = dataset["issues working db"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

# Lowercase all strings
column = column.str.lower()

# Strip leading and tailing whitespace and create set to remove duplicates in list
split_column = [list(set([i.strip() for i in row])) for row in column.str.split(',')]    

# Drop([0]) to remove empty string
cleaned_column = pd.Series(split_column).explode().value_counts().rename_axis('Value').reset_index(name='Counts').drop([0])
cleaned_column

In [ ]:
cleaned_column.plot.bar(x="Value", y="Counts", figsize=(16,4))
ax = plt.title("Count of Issues working")
plt.xlabel("Issues working")
plt.show()

### operational district db
<a class="anchor" id="4.10"></a>
List of districts they operate in.  
Some rows contain multiple districts and arrows.  
Nulls: 23039

In [ ]:
column = dataset["operational district db"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

# Lowercase all strings
column = column.str.lower()

# Remove arrows
column = column.str.replace('->', ',')

# Strip leading and tailing whitespace and create set to remove duplicates in list
split_column = [list(set([i.strip() for i in row])) for row in column.str.split(',')]    

# Drop([0]) to remove empty string
cleaned_column = pd.Series(split_column).explode().value_counts().rename_axis('Value').reset_index(name='Counts').drop([0])
cleaned_column

There are 718 districts in India. However there are 729 unique rows.

### reg name
<a class="anchor" id="4.11"></a>
Name of registrar.

In [ ]:
column = dataset["reg name"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))

counts = column.value_counts().rename_axis('Value').reset_index(name='Counts')
counts

In [ ]:
counts.plot.bar(x="Value", y="Counts")
ax = plt.title("Count reg name")
plt.xlabel("Registrar name")
plt.show()

### fcrano
<a class="anchor" id="4.12"></a>
FCRA number.  
Some numbers are invalid and have differing lengths..  
Nulls: 89869  
No. of unique values: 21145

In [ ]:
column = dataset["fcrano"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

# Value counts
column.value_counts().rename_axis('Value').reset_index(name='Counts')

Some numbers are invalid.

In [ ]:
# Only contain rows that have digits
cleaned_column = column[column.str.isdigit()].value_counts().rename_axis('Value').reset_index(name='Counts')
# Length of fcranos
print("Lengths:", cleaned_column["Value"].apply(len).unique())
cleaned_column

### nr regNo
<a class="anchor" id="4.13"></a>
Registration number.  
Nulls: 3  
No. of unique values: 96123  
No. of Duplicates: 4986

In [ ]:
column = dataset["nr regNo"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

print("No. of unique values:", len(column.unique()))

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate regNo", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

### nr add
<a class="anchor" id="4.14"></a>
Address.  
Some invalid addresses, mixed letter case.  
No. of unique values: 110903  
No. of Duplicates: 600

In [ ]:
column = dataset["nr add"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

# Emptry strings
print("Empty strings:", sum(column == " "))

# Lowercase all strings
column = column.str.lower()

# Unique values
print("No. of unique values:", len(column.unique()))

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate regNo", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

In [ ]:
# Drop invalid addresses
table.drop([0,1,2,3,4])

### nr orgName
<a class="anchor" id="4.15"></a>
Name of NGO.  
Mixed letter case.  
No. of unique values: 108296  
No. of Duplicates: 2290

In [ ]:
column = dataset["nr orgName"]
column

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

# Emptry strings
print("Empty strings:", sum(column == " "))

# Lowercase all strings
column = column.str.lower()

# Unique values
print("No. of unique values:", len(column.unique()))

# Check for duplicates
counter = dict(Counter(column))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Value", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

### ngo reg date
<a class="anchor" id="4.16"></a>
Registration date.   
Format: DD-MM-YYYY
No. of unique values: 17307

In [ ]:
column = dataset["ngo reg date"]
column

In [ ]:
print("Min:", min(column))
print("Max:", max(column))

In [ ]:
# Nulls
print("Nulls:", sum(column.isnull()))
column = column.dropna()

#column = pd.Series([dt.datetime.strptime(d,'%d-%m-%Y').date() for d in column])

# Unique values
print("No. of unique values:", len(column.unique()))

# Value counts
counts = column.value_counts().rename_axis('Value').reset_index(name='Counts')
counts