In [38]:
import pandas as pd
import validators
import uuid

In [39]:
NgoBackground = pd.DataFrame(columns=[
    'ngoId', 
    'hasRegistration', 
    'hasFinance',
    'logo', 
    'yearEstablished', 
    'missionStatement', 
    'vision', 
    'objectives', 
    'legalStatus', 
    'areasOfOperation', 
    'activeStatus'
])
NgoRegistration = pd.DataFrame(columns=[
    'ngoId',
    'isRegistrationFor',
    'ngoType',
    'regNo',
    'regDate',
    'registrar',
    '12ANo',
    '12ARegdate',
    '12AUpload',
    '80GNo',
    '80GRegdate',
    '80GUpload',
    '35ACNo',
    '35ACRegdate',
    '35ACUpload',
    'fCRANo',
    'fCRARegdate',
    'natureListed',
    'fCRAStatus',
    'fCRAExpiration',
    'fCRAUpload',
    'pan',
    'tan',
    'gst',
    'notes'
])

NgoContact = pd.DataFrame(columns=[
    'ngoId',
    'ngoName',
    'orgEmail',
    'officePhone',
    'primaryPoc',
    'primaryPocPhone',
    'secondaryPoc',
    'secondaryPocPhone',
    'mailingAddress',
    'physicalAddress',
    'fieldOffices',
    'orgType',
    'orgWebsite',
    'websiteIsValid',
    'facebook',
    'twitter',
    'iInstagram',
    'youtube',
    'whatsapp',
    'otherSocials',
    'scrapeSource',
    'executiveDirector',
    'technicalSupport',
    'chairmanName',
    'chairmanMobile',
    'chairmanEmail',
    'viceChairmanName',
    'viceChairmanMobile',
    'viceChairmanEmail',
    'secretaryName',
    'secretaryMobile',
    'secretaryEmail',
    'assistantSecretaryName',
    'assistantSecretaryMobile',
    'assistantSecretaryEmail'
])

NgoFinance = pd.DataFrame(columns=[
    'ngoId',
    'fiscalYear',
    'totalIncome',
    'totalGrant',
    'totalExpense',
    'totalAssets',
    'totalLiabilities',
    'totalFundingGap',
    'sourceOfFunds',
    'majorFunders',
    'ngoBudgetAllocation',
    'ngoBudgetUtilization',
    'auditReport',
    'avgMonthlyExpenditure',
    'avgMonthlyOverhead',
    'longTermLoan',
    'fulltimeEmployees',
    'parttimeEmployees',
    'employmentExpenses',
    'fulltimeVolunteers',
    'parttimeVolunteers',
    'volunteerExpenses',
    'consultants',
    'consultantExpenses',
    'occupancyExpenses',
    'fundraisingExpenses'
])

In [40]:
df = pd.read_excel('Final_Data_ngoimpact.com.xlsx')

df["Name"] = df["Name"].str.title()
df["uuid"] = [uuid.uuid3(uuid.NAMESPACE_URL, _) for _ in df["Name"]]

# Split Registration number / CIN & registration date
df["CIN_registration_num"] = df['Registration number / CIN & registration date'].str.extract(r"(.+) -")
df["CIN_registration_date"] = df['Registration number / CIN & registration date'].str.extract(r"- (.+)")

# Split FCRA registration number & registration date
df["FCRA_registration_num"] = df['FCRA registration number & registration date'].str.extract(r"(.+) -")
df["FCRA_registration_date"] = df['FCRA registration number & registration date'].str.extract(r"- (.+)")

# Split 12A registration number & date
df["12A_registration_num"] = df['12A registration number & registration date'].str.extract(r"(.+) -")
df["12A_registration_date"] = df['12A registration number & registration date'].str.extract(r"- (.+)")

# Split 80G registration number & date
df["80G_registration_num"] = df['80G registration number & registration date'].str.extract(r"(.+) -")
df["80G_registration_date"] = df['80G registration number & registration date'].str.extract(r"- (.+)")

# Split 35AC registration number & date
df["35AC_registration_num"] = df['35AC registration number & registration date'].str.extract(r"(.+) -")
df["35AC_registration_date"] = df['35AC registration number & registration date'].str.extract(r"- (.+)")

# List of columns to clean
fin_cols = ["Annual budget", "Total income", "Total expenditure", 
                    "Average monthly expenditure", "Total fixed assets", 
                    "Long term loan", "Total funding gap"]

# Drop original columns
df = df.drop(columns=['Registration number / CIN & registration date',
                      'FCRA registration number & registration date',
                      '12A registration number & registration date', 
                      '80G registration number & registration date', 
                      '35AC registration number & registration date'])

# Clean the columns
for col in fin_cols:
    df[col] = df[col].replace({'₹': '', ',': ''}, regex=True)

df.head()

,Link,About,VISION,Your organisation is registered as,Permanent account number (PAN),Annual budget,Total income,Total expenditure,Average monthly expenditure,Total fixed assets,...,CIN_registration_num,CIN_registration_date,FCRA_registration_num,FCRA_registration_date,12A_registration_num,12A_registration_date,80G_registration_num,80G_registration_date,35AC_registration_num,35AC_registration_date
0,http://www.ngoimpact.com/ngos/turning-point-fo...,"TPF is a not for profit, national level volunt...",VisionThe vision of the organisation is to dev...,Charitable Society,AABTT1084A,8822990,6647492,6995030,8822990,1907543,...,S/41220,14-01-2002,231660609,12-12-2005,1242,14-03-2003,8263043,11-10-2011,NaN,NaN
1,http://www.ngoimpact.com/ngos/basic-research-e...,Basic Research Education And Development Socie...,To inculcate the thirst for knowledge among st...,Charitable Society,AAATB4485E,2500000,3706438,2686084,2500000,4417,...,1755 of 1989,11-08-1989,010260111,05-08-2016,H.Qrs11/12A&80G/32/,19-10-1990,HYD/80G/155(3)/08-09,10-09-2008,NaN,NaN
2,http://www.ngoimpact.com/ngos/divya-jyothi-cha...,“ Divya Jyothi Charitable Trust” for the blind...,Empowering the visually impaired so that they ...,Public Charitable Trust,AABTD4733A,1065000,0,0,1065000,0,...,MYN-4-00326-2010-11,08-11-2010,094590221,22-12-2016,D-54/12AA/MYS2011-12,27-06-2011,D-54/12AA/MYS2011-12,08-11-2010,NaN,NaN
3,http://www.ngoimpact.com/ngos/atma-foundation#...,ATMA Foundation is an NGO committed to empower...,"MissionEmpowering individuals, families & soci...",Public Charitable Trust,AADTA2673C,27310000,0,0,27310000,0,...,397/ IV / 06,08-05-2006,NaN,NaN,CIT-TCR/Tech/12A/18/,06-02-2012,AADTA 2673 C/09/15-1,28-05-2015,NaN,NaN
4,http://www.ngoimpact.com/ngos/calcutta-rescue#...,Calcutta Rescue (CR) is a non – governmental o...,To reach out to more number of people living o...,Charitable Society,AAATC2014N,2000750,0,0,2000750,0,...,S/674950/ 1991- 92,92 - 04-04-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df.columns

Index(['Link', 'About', 'VISION', 'Your organisation is registered as',
       'Permanent account number (PAN)', 'Annual budget', 'Total income',
       'Total expenditure', 'Average monthly expenditure',
       'Total fixed assets', 'Long term loan', 'Total funding gap',
       'Number of full time employees', 'Number of part time employees',
       'Number of consultants', 'Number of volunteers / interns',
       'Which operational area do you require additional help with?',
       'Number of board members', 'Number of meetings done',
       'Governance photos', 'Governance documents',
       'Who are your major funders?', 'Name your funders',
       'Project start date', 'Project end/expected close date',
       'Project Sector', 'Location', 'City(ies)', 'Area/Town name', 'Budget',
       'External funding received', 'Number of beneficiaries', 'Project type',
       'Project photos', 'Project documents', 'Project description', 'Logo',
       'Name', 'About Founder', 'Address', 'URL', 'Area of focus',
       'Geographical Activity', 'Project Completed', 'Funding requirement',
       'uuid', 'CIN_registration_num', 'CIN_registration_date',
       'FCRA_registration_num', 'FCRA_registration_date',
       '12A_registration_num', '12A_registration_date', '80G_registration_num',
       '80G_registration_date', '35AC_registration_num',
       '35AC_registration_date'],
      dtype='object')

In [42]:
# Mapping and assigning columns
NgoBackground["ngoId"] = df["uuid"]
NgoBackground["vision"] = df["VISION"]
NgoBackground["objectives"] = df["About"]

NgoContact["ngoId"] = df["uuid"]
NgoContact["mailingAddress"] = df["Address"]
NgoContact["physicalAddress"] = df["Address"]
NgoContact["orgWebsite"] = df["URL"]

NgoRegistration["ngoId"] = df["uuid"]
NgoRegistration["regNo"] = df["CIN_registration_num"]
NgoRegistration["regDate"] = df["CIN_registration_date"]
NgoRegistration["pan"] = df["Permanent account number (PAN)"]
NgoRegistration["12ANo"] = df["12A_registration_num"]
NgoRegistration["12ARegdate"] = df["12A_registration_date"]
NgoRegistration["80GNo"] = df["80G_registration_num"]
NgoRegistration["80GRegdate"] = df["80G_registration_date"]
NgoRegistration["35ACNo"] = df["35AC_registration_num"]
NgoRegistration["35ACRegdate"] = df["35AC_registration_date"]
NgoRegistration["fCRANo"] = df["FCRA_registration_num"]
NgoRegistration["fCRARegdate"] = df["FCRA_registration_date"]

# Define a function to split the string, convert to integers, and find the maximum
def get_max_value(row):
    if isinstance(row, str) and not pd.isnull(row):  # Check if the value is a non-null string
        split_list = row.split()
        int_list = [int(num) for num in split_list]
        return max(int_list)
    else:
        return row

NgoFinance["ngoId"] = df["uuid"]
NgoFinance["totalIncome"] = df["Total income"].apply(get_max_value)
NgoFinance["totalGrant"] = df["External funding received"].str.replace(r'[₹,]', '', regex=True).apply(get_max_value)
NgoFinance["totalExpense"] = df["Total expenditure"].apply(get_max_value)
NgoFinance["totalAssets"] = df["Total fixed assets"].apply(get_max_value)
NgoFinance["totalLiabilities"] = df["Long term loan"].apply(get_max_value)
NgoFinance["totalFundingGap"] = df["Total funding gap"].apply(get_max_value)
NgoFinance["sourceOfFunds"] = df["Who are your major funders?"]
NgoFinance["majorFunders"] = df["Name your funders"]
NgoFinance["ngoBudgetAllocation"] = df["Budget"].str.replace(r'[₹,]', '', regex=True).apply(get_max_value)
NgoFinance["avgMonthlyExpenditure"] = df["Average monthly expenditure"].apply(get_max_value)
NgoFinance["fulltimeEmployees"] = df["Number of full time employees"]
NgoFinance["parttimeEmployees"] = df["Number of part time employees"]
NgoFinance["fulltimeVolunteers"] = df["Number of volunteers / interns"].str.replace(r'[,]', '', regex=True)
NgoFinance["consultants"] = df["Number of consultants"]

In [43]:
NgoFinance

,ngoId,fiscalYear,totalIncome,totalGrant,totalExpense,totalAssets,totalLiabilities,totalFundingGap,sourceOfFunds,majorFunders,...,fulltimeEmployees,parttimeEmployees,employmentExpenses,fulltimeVolunteers,parttimeVolunteers,volunteerExpenses,consultants,consultantExpenses,occupancyExpenses,fundraisingExpenses
0,05a69203-8194-3a20-ad28-0a9f8ec3b16d,NaN,6647492.0,0.0,6995030.0,1907543.0,0.0,347538.0,Resident Individuals,INDIVIDUALS,...,12,1,NaN,1,NaN,NaN,2.0,NaN,NaN,NaN
1,c4e895fb-a222-36a9-aec9-7901492fb709,NaN,3706438.0,1817340.0,2686084.0,4417.0,0.0,0.0,"Resident Individuals, Foreign Nationals","Dr. Ashok Kache, Dr. N Bhaskara Rao, GiveIndia...",...,0,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN
2,3b09be47-3ca6-3f36-a96f-d54bb284f042,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,credible alliance,...,7,3,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN
3,d2741124-86d2-317f-adb5-eca14677abec,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,credible alliance,...,3,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN
4,4f3a89b2-1a9f-3692-9101-a416e7f47c89,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Credible Alliance,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,d923947a-80ca-393e-991e-6599dd5c60ac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,a29775ed-1159-3a1b-8320-e9f7605c5dc4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,c2727745-8d28-3892-b265-bdc40c4c4f7e,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Indian Institute of Corporate Affairs,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,ff693068-fbb0-32d6-976a-9beef398c03b,NaN,0.0,0.0,0.0,0.0,0.0,0.0,"Government Bodies, Other Domestic NGOs, Other ...",credible alliance,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,a9f2b920-fb16-355a-a1ca-7c8190173e11,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Indian Institute of Corporate Affairs,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# For DataFrame NgoBackground
NgoBackground = NgoBackground.dropna(how='all', subset=NgoBackground.columns.difference(['ngoId']))

# For DataFrame NgoContact
NgoContact = NgoContact.dropna(how='all', subset=NgoContact.columns.difference(['ngoId']))

# For DataFrame NgoRegistration
NgoRegistration = NgoRegistration.dropna(how='all', subset=NgoRegistration.columns.difference(['ngoId']))

# For DataFrame NgoFinancial
NgoFinance = NgoFinance.dropna(how='all', subset=NgoFinance.columns.difference(['ngoId']))

In [45]:
# Export to CSV
NgoBackground.to_csv('NgoBackground.csv', index=False)
NgoRegistration.to_csv('NgoRegistration.csv', index=False)
NgoContact.to_csv('NgoContact.csv', index=False)
NgoFinance.to_csv('NgoFinance.csv', index=False)